
  <div>
    
  
<ul class="nav navbar-fixed-bottom navbar-light">
  <li class="nav-item">
    <a class="nav-link active" routerLink = "/">Home</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" routerLink = "/blog">Blog</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink = "/travel">Travel</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Services</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">FAQ</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Contact Us</a>
  </li>
</ul>

<p class="footer">Copyright&copy; All rights reserved 2019 All rights reserved </p>

</div>
