    <div class="row">

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="/assets/resort1.jpg" alt="" width="300rem" height="200rem"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Package 1</a>
                </h4>
                <h5>899 euro</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="/assets/resort2.jpg" alt="" width="300rem" height="200rem"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Package 2</a>
                </h4>
                <h5>999 euro</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="/assets/resort3.jpg" alt="" width="300rem" height="200rem"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Package 3</a>
                </h4>
                <h5>1099 euro</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="/assets/resort4.jpg" alt="" width="300rem" height="200rem"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Package 4</a>
                </h4>
                <h5>1199 euro</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>


 <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="/assets/resort5.jpg" alt="" width="300rem" height="200rem"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Package 5</a>
                </h4>
                <h5>1299 euro</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

           <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="/assets/resort6.jpg" alt="" width="300rem" height="200rem"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Package 6</a>
                </h4>
                <h5>1599 euro</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>
      </div><!-- ---close row -->